<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("m-Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("m-About", "About", "Home")</li>
                    <li>@Html.ActionLink("m-Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px;">
        <div class="col-lg-6 text-left" style="padding-left:20px;">
            <h4 style="color:red;">@ViewBag.Language</h4>
        </div>
        <div class="col-lg-6 text-right" style="padding-right:20px;">
            <form id="languageForm" action="@Url.Action("SetLanguage", "Home")" method="post">
                <select name="language" onchange="document.getElementById('languageForm').submit();">
                    <option value="" disabled selected>Select Language</option>
                    <option value="en-US" @(ViewBag.Language == "en-US" ? "selected" : "")>English</option>
                    <option value="th-TH" @(ViewBag.Language == "th-TH" ? "selected" : "")>ไทย</option>
                    <option value="ch-CH" @(ViewBag.Language == "ch-CH" ? "selected" : "")>中國人</option>
                    <option value="lo-LA" @(ViewBag.Language == "lo-LA" ? "selected" : "")>ພາສາລາວ</option>
                    <!-- Add more languages as needed -->
                </select>
            </form>
        </div>

    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
